body {
    color: crimson;
    width: 0 auto;
    margin: 0 auto;
    background: url('/img/cart.jpg');
}
button {
    border-radius: 30px;
    padding: 3px;
}
header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background: rgba(1, 68, 255, 0.428);
    border-radius: 30px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
header h1 {
    margin-left: 25px;
}

header  .p {
color: crimson;
}
header ul {
    display: flex;
}

header li {
    color: rgb(246, 0, 0);
    margin-right: 300px;
    margin-left: 15px;
}
header .p {
    color: rgb(0, 217, 255);
    font-size: 80px;
}

main  {
    display: flex;
    border-radius: 30px;
    padding-left: 25px;
    padding-bottom: 30px;
    background: rgba(3, 240, 253, 0.222);
}

main h1 {
    margin-top: 30px;
}
main p {
    font-size: 18px;
    margin-top: 15px;
    max-width: 650px;
}

main span {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}



/* footer {
    background: skyblue;
    border-radius: 30px;
} */

footer h1 {
    color: rgb(255, 0, 0);
    padding-top: 60px;
    text-align: center;
}

footer div {
    color: rgb(0, 243, 65);
    margin-top: 65px;
    margin-left: 900px;
    padding-bottom: 30px;
}

footer div a {
    color: rgb(0, 225, 246);
    font-size: 18px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 219, 252);
    background: rgba(247, 0, 255, 0.173);
}

.card img {
    width: 100px;
    height: 90px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}